#normalize input			{ margin:0; }
#normalize textarea		{ margin:0; width:auto; }
#normalize select			{ margin:0; width:auto; }
#normalize label			{ display:inline-block; }
#normalize p				{ margin:0; }
#normalize ul			{ margin:0; list-style:none; }

label input[type=radio]	{ margin:-4px 0 0!important; }

.alert ul				{ margin:0; list-style:none; }